.lead__title {
  margin: 0 auto;
  padding: 56px 0 0 0;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
  font-size: calc((100vw - 320px)/(767 - 320) * (96 - 40) + 40px);
  line-height: calc((100vw - 320px)/(767 - 320) * (1.1 - 1.04) + 1.04);
  }
}
