.cover__background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.cover__background::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2A2C2F;
  background-size: cover;
  opacity: 0.3;
  transition: 0.2s ease;
}

.cover__background:hover::before {
  content: "";
  opacity: 0.8;
}
